.header {
  position: fixed;
  width: 80%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  border-bottom: 1px solid blue;
}

.footer {
  position: fixed;
  width: 80%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  border-top: 1px solid blue;
}

.home {
  position: fixed;
  width: 60%;
  min-width: 60%;
  top: 10vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  margin-top: 10%;
}

.home > div {
  margin-bottom: 0%;
}

.list {
  position: fixed;
  min-width: 60%;
  top: 10vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  margin-top: 1%;
  margin-bottom: 30%;
  font-size: 12px;
}
.nav {
  display: flex;
  justify-content: space-around;
}

